#contact p {
  color: #2e2e2e;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  font-weight: 500;
}

#contact button {
  padding: 0px;
  position: relative;
  top: -2px;
}


#contact button i {
  position: relative;
  left: 10px;
}


#contact .email {
  color: #f4623a;
}